<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>
        <span class="gemini-title-main">{{ title }}</span>
        <span class="gemini-title-main gemini-title-minor">{{ title2 }}</span>
        <div class="logo"></div>
      </h1>
      <span class="subtitle">{{ subtitle }}</span>
      <div class="sub-content">
        <fencing-gemini></fencing-gemini>
      </div>
    </div>
  </div>
</main>


<router-outlet /> 
